/* Google Fonts */
/* font-family: 'Life Savers', cursive; */
@import url('https://fonts.googleapis.com/css?family=Life+Savers');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css');

body {
    margin: 0;
    padding: 0;
    background: url('./images/bg.svg') repeat;
    background-size: 60px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #203f49;
}

/* Home page header */
header {
    background-color: #203f49;
    width: 94%;
    padding: 15px 3% 10px 3%;
    color: #ffffff;
}
header h1 {
    text-align: center;
    font-size: 2.3em;
    font-family: 'Life Savers', cursive;
    line-height: 1.5;
    letter-spacing: 1px;
}

/* Header for when user logged in */
.headerLogin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerLogin h1 {
    text-align: left;
    font-size: 3em;
}
.headerLogin .user img {
    width: 25px;
    height: 20px;
    padding: 2%;
}

/* Font Styles */
h2 {
    font-size: 1.5em;
    font-family: 'Life Savers', cursive;
    line-height: 1.3;
    color: #203f49;
}
h2::after {
    content:'';
    display: block;
    border-bottom: 2px solid #203f49;
    max-width: 60%;
    padding-bottom: 2px;
    margin-bottom: 10px;
}
h3 {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    color: #203f49;
}
p {
    margin-bottom: 10px;
    line-height: 1.3;
}

/* CSS Styling */
main {
    padding:4% 8%;
    max-width: 1200px;
    margin: 0 auto;
    border: 2px solid #203f49;
    border-radius: 20px;
    background-color: #ffffff;
    margin: 30px 10%;
}

/* Login page Circle */
.circle {
    text-align: center;
    background-color:#fff;
    padding:4%;
    margin:2% auto;
    border-radius: 50%;
      width: 350px;
      height: 350px;
    border: 2px solid #203f49;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.circle h2::after {
    border-bottom: none;
}
button {
    /* removes default button styles for google sign in button */

    border:none;
    background-color:none;

}

/*Google Buttons for Log-in */
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

.btn__social {
  width: 191px;
  height:40px;
  margin: 0;
  padding:0;
}
.btn--google {
  background-color:#4285F4;
  color:#ffffff;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin:0 auto;
}
.btn--google img {
  height: 40px;
  margin:0 5px 0 0;
  padding:0;
  float: left;
}
.btn--google:hover {
  background-color:#3367d6;
}

/* Logout Button */
.btn__logout {
  width: 70px;
  height: 33px;
  font-size: 0.7rem;
  background-color: rgb(172, 43, 43);
}

.btn__logout:hover {
  background-color: rgb(197, 63, 63);
}

/* Form Styles */
.newHabit, .daily-check-in {
  color: #203f49;
  border: solid 2px;
  border-radius: 20px;
  width: 50%;
  margin: 30px auto;
  background-color: white;
}
form {
  display: grid;
  width: 70%;
  margin: auto;
  text-align: left;
}
form label:first-of-type {
  margin-top: 0;
}
label, fieldset legend  {
  margin: 20px 0px 5px 0px;
  font-weight: 600;
  font-family: 'Life Savers', cursive;
}
fieldset label {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding: 0 20px 0 5px;
}
fieldset p {
  font-size: 0.8em;
}
input, form button {
  height: 15px;
  background-color: #d4d4d6;
  border: none;
  padding: 10px;
}
select {
  background-color: #d4d4d6;
  height: 35px;
}
textarea {
  background-color: #d4d4d6;
  height: 80px;
}
fieldset {
  border:0;
  margin: 0;
  padding: 0;
}
.submit {
  width: 110px;
  justify-self: end;
  margin-top: 20px;
  height: 40px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}
.submit:hover {
  cursor: pointer;
  background-color: #fcbf74;
}
.error {
  color: red;
  font-weight: 600;
}

.header-button-menu {
  background: #72B0EC;
  border-radius: 1000px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


/* ------------------------------- copied from SocialProfileList.css   -------------------------------*/

.btn__profiles--list {
  
  display: flex;
  direction: rtl;
  flex-wrap: wrap;
  justify-content: right;
}

.container__profile {
  display: flex;
  flex-direction: row;
  align-items: right;
  margin: 10px;
}

.container__profile--photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.container__profile--btn {
  font-size: 0.65rem;
  width: 80px;
  height: 28px;
  background-color: transparent;
  border: 1px solid red;
  color: red;
}

.container__profile--btn:hover {
  background-color: red;
  color: white;
}

/* --------------------------------------------------------------------------------------------- */