/* Google Fonts */
/* font-family: 'Life Savers', cursive; */
@import url('https://fonts.googleapis.com/css?family=Life+Savers');

body {
    background: url('../images/bg.svg') repeat;
    background-size: 60px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #203f49;
}

/* Home page header */
header {
    background-color: #203f49;
    width: 94%;
    padding: 15px 3% 10px 3%;
    color: #ffffff;
}
header h1 {
    text-align: center;
    font-size: 2.3em;
    font-family: 'Life Savers', cursive;
    line-height: 1.5;
    letter-spacing: 1px;
}

/* Header for when user logged in */
.headerLogin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerLogin h1 {
    text-align: left;
    font-size: 1.5em;
}
.headerLogin .user img {
    width: 25px;
    height: 20px;
    padding: 2%;
}

/* Font Styles */
h2 {
    font-size: 1.5em;
    font-family: 'Life Savers', cursive;
    line-height: 1.3;
    color: #203f49;
}
h2::after {
    content:'';
    display: block;
    border-bottom: 2px solid #203f49;
    max-width: 60%;
    padding-bottom: 2px;
    margin-bottom: 10px;
}
h3 {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    color: #203f49;
}
p {
    margin-bottom: 10px;
    line-height: 1.3;
}

/* CSS Styling */
main {
    padding:4% 8%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Login page Circle */
main {
    text-align: center;
    background-color:#fff;
    padding:4%;
    margin:2% auto;
    border-radius: 50%;
      width: 350px;
      height: 350px;
    border: 2px solid #203f49;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
main h2::after {
    border-bottom: none;
}
button {
    /* removes default button styles for google sign in button */
    border:none;
    background-color:none;
}